# Browser-Port der App
SIMDYNASTIE_PORT=7777

# Ordner mit deinen Sims-2-Backup-Dateien (*.tar.gz)
# Beispiele:
# Windows Docker Desktop: C:/Users/DeinName/Backups/SIMS2
# Linux/NAS: /volume1/backups/SIMS2
SIMS2_BACKUP_PATH=./backups